@media screen {
    .only_print {
        display: none;
    }
}

@media print {
    .no_print {
        display: none;
    }
}

/*************************************/

* {
    margin: 0;
    padding: 0;
}

button:hover,
input:hover {
    background-color: lightgray;
    cursor: pointer;
}

body {
    width: 90vw;

    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width: 1000px) {
    body {
        width: 90vw;
    }
}

/*************************************/

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.gap-5 {
    gap: 5px;
}

.mt-mb {
    margin-top: auto;
    margin-bottom: auto;
}

.mt-5 {
    margin-top: 5px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-2vh {
    margin-top: 2vh;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}

/*************************************/

.button {
    background-color: white;

    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}