@media screen {
    .only_print {
        display: none;
    }
}

@media print {
    .no_print {
        display: none;
    }
}

/*************************************/

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    width: 90vw;

    margin-left: auto;
    margin-right: auto;
}

button,
input,
select {
    background-color: rgb(213, 244, 255);

    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

button:hover,
input:hover,
select:hover {
    background-color: white;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    body {
        width: 90vw;
    }
}

/*************************************/

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.mt-5 {
    margin-top: 10px;
}

.justify-content-space-between {
    justify-content: space-between;
}

.page {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;

    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    padding: 15px;

    margin-bottom: 10px;
}
